.newsletter {
  width: 100%;
  display: flex;
  min-height: 430px;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
  border: 1px solid #E0E0E0;
  background-color: #F8F6F5;
}

.newsletter__body {
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}

.newsletter__column {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.newsletter__decor {
  display: none !important;
}

.newsletter__title {
  max-width: 340px;
  color: #111111;
  line-height: 120%;
}

.newsletter__form {
  display: flex;
  gap: 55px;
  flex-direction: column;
  padding: 0px 0px 12px 0px;
  border-bottom: 1px solid #D7D7D7;
}

.newsletter__form-title {
  color: #7A7A7A;
  font-weight: 600;
  line-height: 208%;
  max-width: 600px;
  font-size: clamp(0.875rem, 5vw, 1.25rem);
}

.newsletter__form-bottom {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.newsletter__form-input {
  width: 100%;
  height: 45px;
  border: unset;
  color: #7A7A7A;
  padding: 0px 15px;
  border-radius: 6px;
  background-color: unset;
  transition: all 0.15s ease-out;
}

@media (hover:hover) {
  .newsletter__form-input:hover {
    color: white;
    cursor: pointer;
    background-color: var(--accent);
  }

  .newsletter__form-input:hover::placeholder {
    color: white;
  }
}

.newsletter__form-input:focus-visible {
  cursor: text;
}

@media (hover:hover) {
  .newsletter__form-input:focus-visible:hover {
    color: #7A7A7A;
    background-color: unset;
  }

  .newsletter__form-input:focus-visible:hover::placeholder {
    color: #7A7A7A;
  }
}

.newsletter__form-button {
  color: var(--accent);
  padding: 12px 17px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 5vw, 1.25rem);
}

@media (hover:hover) {
  .newsletter__form-button:hover {
    color: whitesmoke;
    background-color: var(--accent);
  }
}

.newsletter__form-button:active {
  scale: var(--scale);
}

@media (max-width: 992px) {
  .newsletter__body {
    flex-direction: column;
  }

  .newsletter__decor {
    display: flex !important;
  }

  .newsletter__title {
    color: black;
    line-height: 136%;
  }

  .newsletter__form-title {
    color: #585858;
    line-height: 180%;
    font-weight: 400;
  }

  .newsletter__form {
    gap: 35px;
    border-bottom: unset;
  }

  .newsletter__form-bottom {
    padding: 6px;
    border-radius: 3px;
    box-shadow: 0px 1px 8px 3px rgba(237, 85, 59, 0.14);
  }

  .newsletter__form-input::placeholder {
    color: #FFA292;
  }

  .newsletter__form-button {
    color: white;
    font-weight: 500;
    text-transform: unset;
    background-color: var(--accent);
  }

  @media (hover:hover) {
    .newsletter__form-button:hover {
      background-color: var(--black);
    }
  }
}