.current-page {
  width: 100%;
  display: flex;
  min-height: 285px;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding);
  background: 
   linear-gradient(79deg, rgba(111, 58, 27, 0.07) -2.75%, rgba(255, 255, 255, 0.00) 101.74%);
}

.current-page__body {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.current-page__content {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.current-page__breadcrumbs {
  display: flex;
  font-size: 1.125rem;
  align-items: center;
}

.current-page__breadcrumbs-nav {
  display: flex;
  align-items: center;
}

.current-page__breadcrumbs-list {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}

.current-page__breadcrumbs-link {
  color: #9A9A9A;
  font-weight: 500;
}

@media (hover:hover) {
  .current-page__breadcrumbs-link:not(.current-page__breadcrumbs-link.active):hover {
    text-decoration: underline;
    background-color: color-mix(in srgb, var(--accent), transparent 90%);
  }
}

.current-page__breadcrumbs-link:not(.current-page__breadcrumbs-link.active):active {
  scale: var(--scale);
}

.current-page__breadcrumbs-link.active {
  color: var(--accent);
}